<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Relative Markets</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
    </head>
    <header>
        <nav id="desktop-nav">
            <div class="logo">Relative Markets</div>
            <div>
                <ul class="nav-links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#information">Information</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
    </header>
    <div id="ticker-bar">
        <label>Markets</label>
        <div id="ticker-marquee">
            <marquee behavior="scroll" direction="left" style="animation: marquee 50s linear infinite;">
                {% for ticker in trending_tickers %}
                <div class="ticker-item">
                    {{ ticker }}
                </div>
                {% endfor %}
            </marquee>
        </div>
    </div>
    <body>
        <div class="wrapper">
            {% block content%}
            {% endblock %}
        </div>
    </body>
</html>




