<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Relative Markets</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
    </head>
    <header>
        <nav id="desktop-nav">
            <div class="logo">Relative Markets</div>
            <div>
                <ul class="nav-links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#information">Information</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
    </header>
    <div id="ticker-bar">
        <div id="ticker-marquee">
            <marquee behavior="scroll" direction="left" style="animation: marquee 50s linear infinite;">
                {% for ticker in trending_tickers %}
                <div class="ticker-item">
                    {{ ticker }}
                </div>
                {% endfor %}
            </marquee>
        </div>
    </div>
    <body>
        <div class="wrapper">
            {% block content%}
            {% endblock %}
        </div>
    </body>
    <section id="about">
        <img src="{% static 'about-image.avif' %}" alt="About Image" id="about-image">
        <div class="about-section">
            <h1>Relative Markets</h1>
            <h3>The Objective</h3>
            <p>This site was created so that a stock of the user's choice could be compared to the S&P 500. Input a ticker and your stock will be compared to the S&P</p>
            <p>Some market participants believe that comparing certain stocks to the S&P 500 is a way to gauge the relative strength or weakness to compare to the overall market.</p>
            <p>For example, if a trader were expecting to trade AAPL, one thing that he or she might take into account is how AAPL is performing compared to the market.</p>
            <p>It is common to examine the difference in performance on a chart. It is worth taking note if either stock has a large spike and or decline, and the other stock does not act the same</p>
            <p>If AAPL shows a steady uptrend or a large spike, and the S&P is more choppy, is slightly trending up, but maybe doesn't have the same up spike, it might be concluded that AAPL is relatively strong.</p>
        </div>
    </section>
</html>




