{% extends 'stocks/base.html' %} 
{% block content %}
<body>
    <div id="ticker-bar">
        <label>Markets</label>
        <div id="ticker-marquee">
            <marquee behavior="scroll" direction="left" style="animation: marquee 50s linear infinite;">
                {% for ticker in trending_tickers %}
                <div class="ticker-item">
                    {{ ticker }}
                </div>
                {% endfor %}
            </marquee>
        </div>
    </div>
    <div>

    </div>
</body>
{% endblock content %}




