/* static/css/styles.css */
#ticker-bar {
    height: 17;
}

#ticker-marquee {
    display: flex;
    overflow: hidden;
    animation: marquee 50s linear infinite;
}

.ticker-item {
    margin-right: 15px;
    display: inline-block;
}

