/* static/css/styles.css */
#ticker-bar {
    height: 17;
}

#ticker-marquee {
    display: flex;
    overflow: hidden;
    animation: marquee 50s linear infinite;
}

.ticker-item {
    margin-right: 15px;
    display: inline-block;
}

.nav_links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}


